extends ../layout
block append config

  -paginaActual = animal.nombre
  block append
    link(rel="stylesheet", href="/styles/disponible/animal-info.css")

block main

  br
  section.animal.-Menu-margen.-Padd2

    div.carta.-Padd.-Flex.-Shadow.-Padd2._.WOW.animate__animated.animate__zoomIn
      img.carta__img.-Borde(src=animal.path, alt="")._.WOW.animate__animated.animate__slideInRight
      br
      br
      div.carta__info._.WOW.animate__animated.animate__slideInLeft
        h2.nombre=animal.nombre
        br
        h4.sub PRECIO
        p=animal.precio
        br
        h4.sub FASES
        h4=animal.fases
        br
        h4.sub  DESCRIPCIÓN
        h4=animal.descripcion
        br
        br
        a.compra.-Boton-mas(href=""+animal.id) ¡COMPRAR AHORA!
